---
openapi: "3.0.0"
info:
  title: IETF Author Tools API
  version: 0.3.1
servers:
  - url: https://author-tools.ietf.org
    description: Alpha server
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
      description: Personal API can be generated from datatracker (https://datatracker.ietf.org/accounts/apikey).
security:
  - apiKeyAuth: []
paths:
  /api/render/text:
    post:
      summary: Returns rendered draft in text format.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: kramdown-rfc2629/mmark (.md, .mkd) file or xml2rfc v2/v3 (.xml) file or text draft (.txt)
                apikey:
                  type: string
                  description: Personal API can be generated from datatracker (https://datatracker.ietf.org/accounts/apikey). API Key can be submitted as X-API-KEY in headers as well.
      responses:
        '200':
          description: Returns draft in requested format.
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Error has occured.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error description
        '401':
          description: Failed to authenticate.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error description
  /api/render/xml:
    post:
      summary: Returns rendered draft in xml2rfc v3 format.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: kramdown-rfc2629/mmark (.md, .mkd) file or xml2rfc v2/v3 (.xml) file or text draft (.txt)
                apikey:
                  type: string
                  description: Personal API can be generated from datatracker (https://datatracker.ietf.org/accounts/apikey). API Key can be submitted as X-API-KEY in headers as well.
      responses:
        '200':
          description: Returns draft in requested format.
          content:
            application/xml:
              schema:
                type: string
        '400':
          description: Error has occured.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error description
        '401':
          description: Failed to authenticate.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error description
  /api/render/html:
    post:
      summary: Returns rendered draft in HTML format.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: kramdown-rfc2629/mmark (.md, .mkd) file or xml2rfc v2/v3 (.xml) file or text draft (.txt)
                apikey:
                  type: string
                  description: Personal API can be generated from datatracker (https://datatracker.ietf.org/accounts/apikey). API Key can be submitted as X-API-KEY in headers as well.
      responses:
        '200':
          description: Returns draft in requested format.
          content:
            text/html:
              schema:
                type: string
        '400':
          description: Error has occured.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error description
        '401':
          description: Failed to authenticate.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error description
  /api/render/pdf:
    post:
      summary: Returns rendered draft in PDF format.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: kramdown-rfc2629/mmark (.md, .mkd) file or xml2rfc v2/v3 (.xml) file or text draft (.txt)
                apikey:
                  type: string
                  description: Personal API can be generated from datatracker (https://datatracker.ietf.org/accounts/apikey). API Key can be submitted as X-API-KEY in headers as well.
      responses:
        '200':
          description: Returns draft in requested format.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          description: Error has occured.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error description
        '401':
          description: Failed to authenticate.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error description
  /api/validate:
    post:
      summary: Validates the draft
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: kramdown-rfc2629/mmark (.md, .mkd) file or xml2rfc v2/v3 (.xml) file or text draft (.txt)
                apikey:
                  type: string
                  description: Personal API can be generated from datatracker (https://datatracker.ietf.org/accounts/apikey). API Key can be submitted as X-API-KEY in headers as well.
      responses:
        '200':
          description: Returns errors, warnings and idnits output
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: list of errors
                    items:
                      type: string
                      description: error description
                  warnings:
                    type: array
                    description: list of warnings
                    items:
                      type: string
                      description: warning description
                  idnits:
                    type: string
                    description: idnits output
        '400':
          description: Error has occured.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error description
        '401':
          description: Failed to authenticate.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error description
  /api/iddiff:
    post:
      summary: Validates the draft
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file_1:
                  type: string
                  format: binary
                  description: kramdown-rfc2629/mmark (.md, .mkd) file or xml2rfc v2/v3 (.xml) file or text draft (.txt)
                file_2:
                  type: string
                  format: binary
                  description: kramdown-rfc2629/mmark (.md, .mkd) file or xml2rfc v2/v3 (.xml) file or text draft (.txt). This is optional. If file_2 and id_2 are not provided, second draft will be identified based on the first draft or first draft file name.
                id_1:
                  type: string
                  description: First draft name unless file_1 is provided.
                id_2:
                  type: string
                  description: Second draft name unless file_2 is provided. This is optional. If file_2 and id_2 are not provided, second draft will be identified based on the first draft or first draft file name.
                table:
                  type: string
                  description: If this property is set, HTML table is returned.
                apikey:
                  type: string
                  description: Personal API can be generated from datatracker (https://datatracker.ietf.org/accounts/apikey). API Key can be submitted as X-API-KEY in headers as well.
      responses:
        '200':
          description: Returns iddiff as HTML.
          content:
            text/html:
              schema:
                type: string
        '400':
          description: Error has occured.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error description
        '401':
          description: Failed to authenticate.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error description
  /api/version:
    get:
      summary: Returns version information.
      responses:
        '200':
          description: Returns version information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  versions:
                    type: object
                    properties:
                      author_tools_api:
                        type: string
                        description: Author Tools API version
                      xml2rfc:
                        type: string
                        description: xml2rfc version
                      kramdown-rfc2629:
                        type: string
                        description: kramdown-rfc2629 version
                      mmark:
                        type: string
                        description: mmark version
                      id2xml:
                        type: string
                        description: id2xml version
                      weasyprint:
                        type: string
                        description: weasyprint version
                      idnits:
                        type: string
                        description: idnits version
                      iddiff:
                        type: string
                        description: iddiff version
                      aasvg:
                        type: string
                        description: aasvg version
                      goat:
                        type: string
                        description: goat version
