blinker==1.9.0
brotli==1.2.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
ConfigArgParse==1.7.1
cssselect2==0.8.0
decorator==5.2.1
dnspython==2.8.0
eventlet==0.40.4
Flask==3.1.2
flask-cors==6.0.1
fonttools==4.61.0
google-i18n-address==3.1.1
greenlet==3.3.0
gunicorn==23.0.0
id2xml==1.5.2
iddiff==0.4.3
idna==3.11
intervaltree==3.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==6.0.2
MarkupSafe==3.0.3
packaging==25.0
pathlib2==2.3.7.post1
pillow==12.0.0
platformdirs==4.5.1
pycountry==24.6.1
pycparser==2.23
pydyf==0.12.1
pyphen==0.17.2
PyYAML==6.0.3
requests==2.32.5
sentry-sdk==2.47.0
six==1.17.0
sortedcontainers==2.4.0
svgcheck==0.11.0
tinycss2==1.5.1
tinyhtml5==2.0.0
urllib3==2.6.2
wcwidth==0.2.14
weasyprint==65.0
webencodings==0.5.1
Werkzeug==3.1.4
xml2rfc==3.31.0
zopfli==0.4.0
