appdirs==1.4.4
Brotli==1.0.9
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
click==8.0.1
ConfigArgParse==1.5.2
cssselect2==0.4.1
decorator==5.0.9
Flask==2.0.1
Flask-Cors==3.0.10
fonttools==4.26.2
google-i18n-address==2.5.0
html5lib==1.1
id2xml==1.5.0
idna==3.2
intervaltree==3.1.0
itsdangerous==2.0.1
Jinja2==2.11
kitchen==1.2.6
lxml==4.6.3
MarkupSafe==2.0.1
pathlib2==2.3.6
Pillow==8.3.1
pycountry==20.7.3
pycparser==2.20
pydyf==0.0.3
pyflakes==2.3.1
pyphen==0.11.0
PyYAML==5.4.1
requests==2.26.0
six==1.16.0
sortedcontainers==2.4.0
tinycss2==1.1.0
urllib3==1.26.6
weasyprint==53.0
webencodings==0.5.1
Werkzeug==2.0.1
xml2rfc==3.9.1
zopfli==0.1.8
