amqp==5.0.6
appdirs==1.4.4
billiard==3.6.4.0
celery==5.1.2
certifi==2021.5.30
charset-normalizer==2.0.4
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
ConfigArgParse==1.5.1
Flask==2.0.1
google-i18n-address==2.5.0
html5lib==1.1
idna==3.2
intervaltree==3.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
kitchen==1.2.6
kombu==5.1.0
lxml==4.6.3
MarkupSafe==2.0.1
prompt-toolkit==3.0.19
pycountry==20.7.3
pyflakes==2.3.1
pytz==2021.1
PyYAML==5.4.1
requests==2.26.0
six==1.16.0
sortedcontainers==2.4.0
urllib3==1.26.6
vine==5.0.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.1
xml2rfc==3.9.1
