---
services:
  author-tools:
    build: .
    container_name: author-tools
    environment:
      GUNICORN_WORKERS: ${GUNICORN_WORKERS}
      SENTRY_DSN: ${SENTRY_DSN}
      SITE_URL: ${SITE_URL}
    env_file:
      - '.env'
    ports:
      - '${AT_PORT}:80'
    mem_limit: 4gb
