eventlet>=0.35.2
decorator>=5.1.1
Flask>=3.0.2
Flask-Cors>=4.0.0
gunicorn>=21.2.0
id2xml>=1.5.2
iddiff>=0.4.3
requests>=2.31.0
sentry-sdk[flask]>=1.42.0
svgcheck>=0.7.1
weasyprint>=61.2
xml2rfc>=3.20.1
