/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ptsans/v12/jizaRExUiTo99u79D0-ExcOPIDUg-g.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ptsans/v12/jizaRExUiTo99u79D0aExcOPIDUg-g.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ptsans/v12/jizaRExUiTo99u79D0yExcOPIDUg-g.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ptsans/v12/jizaRExUiTo99u79D0KExcOPIDU.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

a {
  color: #3d22b3;
}

a:focus, a:hover {
  color: #271673;
}

textarea.monospace {
  font-family: monospace;
}

.error-message {
  white-space: pre-line;
}

.navbar {
  background-image: linear-gradient(to bottom,#40366c 0,#2c254a 100%);
  background-repeat: repeat-x;
  font-family: "PT Sans", "Trebuchet", "Seravek", sans-serif;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 21px;
}

@media (min-width: 575.98px) {
  .navbar {
    height: 50px;
  }
}

@media (max-width: 575.98px) {
  .navbar .container-fluid {
    padding: 0em;
  }
  .navbar-brand {
    padding-left: 12px;
  }
  .navbar-nav > .nav-item > .nav-link {
    padding-left: 11px !important;
  }
}

.navbar-brand > img {
  display: inline;
  padding-right: 1em;
  margin-top: -5px;
}

.navbar-brand {
  margin-top: -2px;
}

.navbar-nav > li > a, .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
	color: #ecf0f1 !important;
}

.navbar-nav > .nav-item {
  height: 50px;
}

.navbar-toggler {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-right: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-nav > .nav-item:hover, .navbar-nav > .nav-item:focus {
  background-color: #1c172f;
}

.navbar-nav > .nav-item > .nav-link {
  transform: translate(0, 20%);
}

.tab-content {
  padding-bottom: 10px;
}

.tab-pane {
  padding-top: 10px;
}

.diff {
  font-family: monospace;
}

.diff table {
  border-spacing: 0;
}

.diff td {
  padding: 0;
  white-space: pre;
  vertical-align: top;
  font-size: 0.86em;
}

.diff th {
  padding: 0;
  text-align: center;
}

.diff .left { background-color: #EEE; }
.diff .right { background-color: #FFF; }
.diff .lblock { background-color: #BFB; }
.diff .rblock { background-color: #FF8; }
.diff .delete { background-color: #ACF; }
.diff .insert { background-color: #8FF; }
.diff .change { background-color: gray; }
.diff .header { background-color: orange; }

.diff .w-delete {
  color: #F00;
  text-decoration: line-through;
}
.diff .w-insert {
  color: #008000;
  font-weight: bold;
}
.bg-light-subtle {
  background-color: #fcfcfd !important;
}
