# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: IETF @

on:
  push:
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    # Required OS dependencies
    - name: Install OS dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y software-properties-common gcc
        sudo apt-get install -y python3-cffi python3-brotli libpango-1.0-0 libharfbuzz0b libpangoft2-1.0-0 libcairo2-dev libpangocairo-1.0-0
        sudo apt-get install -y gawk
        sudo wget https://raw.githubusercontent.com/ietf-tools/idnits-mirror/main/idnits
        sudo cp idnits /bin
        sudo chmod +x /bin/idnits
        arch=$(arch | sed s/aarch64/arm64/ | sed s/x86_64/amd64/)
        wget "https://github.com/mmarkdown/mmark/releases/download/v2.2.25/mmark_2.2.25_linux_$arch.tgz"
        tar zxf mmark_*.tgz -C /bin/
    # Python
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # fix xml2rfc Jinja2 resetriction issue
        grep -v xml2rfc requirements.txt > requirements2.txt
        grep xml2rfc requirements.txt > xml2rfc.txt
        pip install -r requirements2.txt
        pip uninstall -y jinja2
        pip install -r xml2rfc.txt
        pip install -r requirements.dev.txt
    # Ruby
    - name: Set up Ruby
      uses: ruby/setup-ruby@477b21f02be01bcb8030d50f37cfec92bfa615b6
      with:
        ruby-version: 2.7
    - name: Install dependencies
      run: bundle install
    - name: Install dependencies
      run: |
        go get github.com/mmarkdown/mmark
    # Node
    - name: Set up Node
      uses: actions/setup-node@v2
      with:
        node-version: '16'
    - name: Install dependencies
      run: npm install
    # Tests
    - name: Run Pyflakes
      run: pyflakes at tests
    - name: Run tests and collect coverage
      env:
        PATH: $PATH:/bin:./node_modules/.bin/
      run: |
        coverage run -m unittest discover tests
        coverage xml
    - name: Upload coverage to Codecov
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      uses: codecov/codecov-action@v2
